body{
	background-color: #000;
	font-family: arial, sans-serif;

}
p{
	color: #fff;
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
h2{
	text-align: center;
	color: #5b5b5b;
	font-size: 60px;
}
h3{
	color: #fff;
	margin-top: 100px;
}


.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}


.header{
	background-color: #000;
	padding: 30px;
	text-align: center;
}
	.logomary{
		max-width: 85px;
	}
	.logomary:hover{
		transform: scale(1.2)  ;
		/* para agrandar , dar un zoom*/
	}
.menu{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;

}


.banner{
	margin: auto;
	padding: auto;
	list-style: none;

}
	.container__banner{
		width: 470px;
		margin-right: auto;
		margin-left: auto;
	}
	.image__banner{
		width: 400px;
	}
.menu_item{
	display: inline-block;

	vertical-align: top;
}
.menu_link:hover{
		text-decoration: underline; /*para que cuando se coloque el cursor se señale*/
		color: #a0c9c9;
	}
	
.menu_link{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 35px;
}
	
.main__index{
	   background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)),
	     url(images/banner.jpg) ;
	background-size: 100%;
	background-position: bottom; 

	height: 500px;
}
.text__banner{
	padding-top: 50px;
	color: #a0c9c9;
}
/*portafolio*/
main{
	background-color: #282828;
	padding: 30px;
	text-align: center;
}
.images1{
	max-width: 250px;
	vertical-align: top;
	margin-top: 10px;

}
	.images1:hover{
		transform: scale(2);
		
	}
.images2{
	max-width: 250px;

}
	.images2:hover{
		transform: scale(2);
	}
.mainimage1{
	text-align: center;
	vertical-align: top;
}
.mainimage2{
	text-align: center;
	margin-top: -190px;
	padding-bottom: 100px;
}
.a{
	text-align: center;
}
	.text__abilities{
		color: #fff;
		background-color: #a0c9c9;
		border-radius: 50%;
		width: 100px;
		height: 80px;
		display: inline-block;
		text-align: center;
		margin-right: 60px;
		font-size: 60px;
		padding-top: 20px;

	}
	.text__abilities:hover{
		transition: rotate(360deg);
	}

/*CONTACTO*/
.contactform{
	background-color: #fff;
	padding: 50px 70px;
	margin-top: 50px;
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	margin-bottom: 70px;


}

	.contactform__label{
		display: none;
	}

	.contactform__field{
		width: 100%;
		border: solid 1px #666;
		background-color: transparent;
		padding: 5px;
		margin-bottom: 25px;
	}

	.contactform__button{
		padding: 5px 20px;
		background-color: #666;
		color: #fff;
		border: none; /* quito borde */
		cursor: pointer; /* mostrar el puntero del mouse*/
	}
		.btn{
			background-color: #282828;
			padding: 20px;
			color: #fff;
			border-radius: 20px;
		}
a{
	color:#a0c9c9;
	text-decoration: none; 
	

}
/*foter*/
.footer__redes{
	background-color: #161616;
	color: #5b5b5b;
	text-align: center;
	height: 130px

}
	.icon__redes{
		width: 30px;
		margin-right: 30px;
		padding-top: 50px;
	}
	.icon__redes:hover{
		transform: scale(1.1);
	}
.parraf__footer{
	color: #5b5b5b;
	font-size: 15px;
}
.footer__copy{
	background-color: #0f0f0f;
	text-align: center;
	height: 70px;
	padding-top: 25px;
	color: #5b5b5b;
}